<!DOCTYPE html>
<html>
  <head>
    <title>Lytvynenko Yurii | Mechanical Engineer | moneyseo3@gmail.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
